<html lang="ko">

<head>
  <title>중고거래홈페이지 메인</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

  <!-- 네비게이션 바 시작 -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">중고거래홈페이지</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                      <a id="joinmenu" href="{% url 'join' %}">가입</a>
                  </li>
                  <li>
                      <a id="loginmenu" href="{% url 'login' %}">로그인</a>
                  </li>

              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
<br>
<br>
<br>
<br>
<br>

  <!-- 네비게이션 바 끝 -->



  <!-- 점보트론 시작/ -->
  <div class="container">
    <div class="jumbotron">
      <h1>
        <span style="color:white">중고거래홈페이지</span>
      </h1>
      <p>
        <span style="color:white">중고거래 Test</span>
      </p>
    </div>
  </div>
  <br>
  <!-- 점보트론 끝 -->

  <!-- 중고리스트 출력하기-->
  <div class="container">
    <hr>
    <h3>중고리스트</h3>
    <br>
    <!-- 중고 리스트 붙일 곳 -->
    <div class="thanksList"></div>
    <div class="form-group">
            <input type="text" class="form-control" id="names" placeholder="검색품목 입력" >
            </br>
            <button type="button" class="btn btn-default join">조회</button>
    </div>
  </div>


  <!--스크립트 부분. 자신의 스크립트 코드 -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-database.js"></script>

  <script>
    var firebaseEmailAuth; //파이어베이스 email 인증 모듈 전역변수
    var firebaseDatabase; //파이어베이스 db 모듈 전역변수
    var name; //유저 이름
    var loginUserKey; //로그인한 유저의 부모 key
    var userInfo; //로그인한 유저의 정보 object type
    //파이어 베이스 초기화 코드
    var config = {
        apiKey: "AIzaSyDCS1s-3P2QUXv7jG4qdHxqjVWPQQQoJ98",
        authDomain: "jonggo-bc5df.firebaseapp.com",
        databaseURL: "https://jonggo-bc5df-default-rtdb.firebaseio.com",
        projectId: "jonggo-bc5df",
        storageBucket: "jonggo-bc5df.appspot.com",
        messagingSenderId: "100699940779",
        appId: "1:100699940779:web:6047a0d8040805faf114ee",
        measurementId: "G-7J93P2XQDM"
    };
    //파이어베이스 초기화
    firebase.initializeApp(config);
    //인증모듈 객체 가져오기
    firebaseEmailAuth = firebase.auth();
    //데이터베이스 모듈객체 가져오기
    firebaseDatabase = firebase.database();

    //세션 체크 함수
    userSessionCheck();

    //유저가 로그인 했는지 안했는지 확인해주는 함수
    function userSessionCheck() {

    //로그인이 되어있으면 - 유저가 있으면, user를 인자값으로 넘겨준다.
      firebaseEmailAuth.onAuthStateChanged(function (user) {
        alert("들어옴1/" + user.uid + "/123");
        if (user) {
          alert("들어옴2/" + user + "/123");
          //조회 - 데이터 베이스에 저장된 닉네임을 현재 접속되어 있는 user의 pk key 값을 이용해서 가져오기
          firebaseDatabase.ref("users/" + user.uid).once('value').then(function (snapshot) {

            //자바스크립트 dom 선택자를 통해서 네비게이션 메뉴의 엘리먼트 변경해주기
            document.getElementById("loginmenu").textContent = "로그아웃";
            document.getElementById("loginmenu").href = "/logout.html";
            //document.getElementById("joinmenu").textContent = "반가워요! " + snapshot.val().name + " 님";
            document.getElementById("joinmenu").href = "#";

            //name = snapshot.val().name;   //유저 닉네임은 계속 쓸거기 때문에 전역변수로 할당
            loginUserKey = snapshot.key;  //로그인한 유저의 key도 계속 쓸 것이기 때문에 전역변수로 할당
            userInfo = snapshot.val(); //snapshot.val()에 user 테이블에 있는 해당 개체 정보가 넘어온다. userInfo에 대입!


            //alert(userInfo.userid);  //uid는 db에서 user 테이블의 각 개체들의 pk 인데, 이 값은 인증에서 생성된 아이디의 pk 값과 같다. *중요!

            return true
          });

        } else {
                $('#comment').val("로그인 하시면 사람들의 감사 리스트를 보실 수 있습니다. 로그인 해주실꺼죠^^?");
          return false
        }
      });
    }

  </script>
</body>
</html>