<!DOCTYPE html>
<html lang="en">
<head>
  <title>중고거래홈페이지 로그인</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 네비게이션 바 시작 -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">환영합니다!</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                      <a id="joinmenu" href="{% url 'join' %}">가입</a>
                  </li>
                  <li class="active">
                      <a id="loginmenu" href="{% url 'login' %}">로그인</a>
                  </li>

              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
<br>
<br>
<br>
<br>
<br>

  <!-- 네비게이션 바 끝 -->

<!-- 로그인 폼 시작 -->
<div class="container">
    <h1>환영합니다!</h1>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>

    <button type="button" class="btn btn-default login">로그인</button>

</div>
<!-- 로그인 폼 끝 -->
<!--스크립트 부분. 자신의 스크립트 코드 -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-database.js"></script>
<script>
    var firebaseEmailAuth; //파이어베이스 email 인증 모듈 전역변수
    var firebaseDatabase; //파이어베이스 db 모듈 전역변수
    var userInfo; //가입한 유저의 정보. object 타입
    //파이어 베이스 초기화 코드
    var firebaseConfig = {
      apiKey: "AIzaSyDCS1s-3P2QUXv7jG4qdHxqjVWPQQQoJ98",
      authDomain: "jonggo-bc5df.firebaseapp.com",
      databaseURL: "https://jonggo-bc5df-default-rtdb.firebaseio.com",
      projectId: "jonggo-bc5df",
      storageBucket: "jonggo-bc5df.appspot.com",
      messagingSenderId: "100699940779",
      appId: "1:100699940779:web:6047a0d8040805faf114ee",
      measurementId: "G-7J93P2XQDM"
    };

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    firebaseEmailAuth = firebase.auth();
    firebaseDatabase = firebase.database();

    //제이쿼리 사용
    $(document).ready(function(){
      //가입버튼 눌렀을 때 작동하는 함수
      $(document).on('click','.login',function(){

        //jquery를 이용해서 입력된 값을 가져온다.
        var email = $('#email').val();
        var password = $('#pwd').val();
        alert("로그인 버튼 눌렸음" + email +":"+ password);

        //파이어베이스 이메일 로그인 함수
        firebaseEmailAuth.signInWithEmailAndPassword(email, password)
        .then(function(firebaseUser) {

          //성공하면 firebaseUser에 유저 정보 값이 담겨 넘어온다.
          emailAuthCheck(firebaseUser);

        }).catch(function(firebaseUser){

          //실패했을 때 에러처리
          loginCheck(firebaseUser);

        });
      });
    });

    function loginSuccess(firebaseUser){
       alert("로그인 성공");
       //로그인 성공한 유저 id 확인해 보기 - firebase database에 접근해서 데이터 조회 하는 함수
       firebaseDatabase.ref("users/"+firebaseUser.uid).once('value').then(function(snapshot){
            //alert(snapshot.val().name);
       });
       //메인 페이지로 이동
       window.location.href = "{% url 'index' %}"
    }

    function loginCheck(firebaseUser){
        alert("로그인 실패/이메일과 비밀번호를 혹인해주세요");
        //아이디 체크(firebase 불러와서 비교해서 아이디가 없는건지, 비밀번호가 다른건지 체크)

    }

    function emailAuthCheck(firebaseUser){
        var user = firebase.auth().currentUser;
        if(user.emailVerified == true){
            alert("이메일 인증 완료");
            loginSuccess(firebaseUser);
        }else{
            alert("이메일 인증을 완료하세요");
        }
    }
  </script>
</body>
</html>